@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


  body {
    font-family: "Noto Sans KR", sans-serif;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .section {
    /* border: 1px solid blue; */
    margin: 0px;
    bottom: 0px;
    float: left;
    width: 100vw;
    height: 182vh;
  }

  a {
    text-decoration: none;
  }

  #left-top-logo {
    position: fixed;
    top: 58px;
    left: 90px;
    height: 15px;
    width: 123px;
    padding: 0;
    background-image: url(../imgs/1-left-top-logo.png);
    background-repeat: no-repeat;
  }

  #right-top-menu {
    position: fixed;
    top: 20px;
    right: 94px;
    padding: 5px;
  }

  #right-top-menu li {
    display: inline-block;
    margin: 5px;
    width: 48px;
    height: 48px;
  }

  #right-top-menu li a {
    width: 48px;
    height: 48px;
  }

  /* roll over - move the background image by the height of the button (100px) */
  #right-top-menu li a:hover {
    background-position: 0 -100px;
  }
  .left-pan {
    margin-top: 100px;
  }
  .page01-center-contents {
    margin-left: 210px;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 110px 110px;
    margin-top: 120px;
  }

  .page01-Engineering-of-Every {
    width: 419px;
    height: 110px;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 3.5px;
    color: #434c68;
  }

  .page01-sub-content {
    margin-top: 35px;
    width: 245px;
    height: 72px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1.07px;
    color: #000000;
  }

  /* page02
   * --------------------------------------- */
  .second {
    background-image: url(../imgs/about-bg.png);
    background-repeat: no-repeat;
  }

  .page02-center-contents {
    display: grid;
    grid-template-columns: 350px 870px;
    grid-template-rows: 110px 110px;
    margin-left: 138px;
    margin-top: 120px;
  }

  .page02-about {
    margin-left: 100px;
  }

  .page02-center-contents .right-pan {
    margin-top: 160px;
  }

  .page02-sub-content {
    width: 668px;
    height: 96px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1.07px;
    color: #000000;
  }

  .page02-sponsor {
    margin-top: 50px;
  }
  .page02-sponsor .row1 {
    display: grid;
    grid-template-columns: 180px 193px 139px 53px;
    grid-template-rows: 10px 10px 10px 10px;
  }
  .page02-sponsor .row2 {
    display: grid;
    grid-template-columns: 92px 86px 119px 116px 101px;
    grid-template-rows: 10px 10px 10px 10px 10px;
    margin-top: 10px;
  }
  .page02-sponsor .row3 {
    display: grid;
    grid-template-columns: 164px 143px 128px 141px;
    grid-template-rows: 10px 10px 10px 10px;
  }

  /* page03
   * --------------------------------------- */
  .third {
    background-image: url(../imgs/brand-bg.png);
    background-repeat: no-repeat;
  }
  .third .page03-center-contents {
    margin-top: 221px;
    margin-left: 764px;
  }

  .third .page03-center-contents p.brand {
    width: 499px;
    height: 222px;
    margin-right: 184px;
    margin-top: 100px;
    font-family: NotoSansCJKkr;
    font-size: 150px;
    font-weight: 100;
    letter-spacing: 20px;
    color: #ffffff;
  }

  .third .page03-center-contents div.top {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.07px;
    color: #e94e71;
    margin-top: -290px;
    margin-left: 50px;
  }

  .third .page03-center-contents .bottom div {
    margin-top: 81px;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    color: #3d4761;
    margin-left: 50px;
  }

  /* page04
   * --------------------------------------- */
  .fourth {
    position: relative;
  }

  .fourth .Works {
    position: absolute;
    top: 180px;
    font-size: 150px;
    font-weight: 900;
    letter-spacing: -1.88px;
    color: #e9e9e9;
  }

  .fourth .System-trading-Progr {
    position: absolute;
    width: 399px;
    height: 47px;
    top: 466px;
    left: 200px;
    font-size: 32px;
    font-weight: 900;
    color: #3d4761;
  }

  .fourth .bottom {
    position: absolute;
    width: 370px;
    height: 96px;
    top: 542px;
    left: 229px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.33px;
    text-align: right;
    color: #e94e71;
  }

  .fourth .bottom p {
    margin: 5px 0;
  }

  .fourth .System_trading_mockup {
    position: absolute;
    width: 645px;
    height: 510px;
    top: 200px;
    right: 118px;
    object-fit: contain;
    background-image: url(../imgs/system-trading-mockup.png);
    background-repeat: no-repeat;
  }

  #bottom-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  /* page05
   * --------------------------------------- */
  .fifth {
    position: relative;
  }
  .fifth .MontiBI {
    position: absolute;
    width: 399px;
    height: 105px;
    top: 169px;
    left: 143px;
    object-fit: contain;
    background-image: url(../imgs/monti-bi.png);
    background-repeat: no-repeat;
  }

  .fifth .desc {
    position: absolute;
    width: 662px;
    height: 72px;
    top: 197px;
    right: 142px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    color: #e94e71;
  }

  .fifth .desc p {
    margin: 5px 0;
  }

  .fifth .monti-mockup {
    position: absolute;
    width: 1194px;
    height: 411px;
    top: 308px;
    left: 104px;
    object-fit: contain;
    background-image: url(../imgs/monti-mockup.png);
    background-repeat: no-repeat;
  }

  /* page06
   * --------------------------------------- */
  .sixth {
    position: relative;
    background-image: url(../imgs/work-3-bg.png);
    background-repeat: no-repeat;
  }
  .sixth .aimixer {
    position: absolute;
    width: 199px;
    height: 26px;
    top: 400px;
    left: 167px;
    object-fit: contain;
    background-image: url(../imgs/aimixer.png);
    background-repeat: no-repeat;
  }

  .sixth .desc {
    position: absolute;
    width: 662px;
    height: 72px;
    top: 470px;
    left: 165px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    color: #e94e71;
  }

  .sixth .desc p {
    margin: 5px 0;
  }

  .sixth .aimixer-mockup {
    position: absolute;
    width: 712px;
    height: 419px;
    top: 240px;
    right: 57px;
    object-fit: contain;
    background-image: url(../imgs/aimixer-mockup.png);
    background-repeat: no-repeat;
  }

  /* page07
   * --------------------------------------- */
  .seventh {
    position: relative;
    background-image: url(../imgs/intro-bg.png);
    background-repeat: no-repeat;
  }
  .seventh .desc1 {
    position: absolute;
    width: 252px;
    height: 47px;
    top: 376px;
    left: 381px;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: normal;
    color: #000000;
  }

  .seventh .desc2 {
    position: absolute;
    width: 345px;
    height: 56px;
    top: 371px;
    right: 380px;
    line-height: 56px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 8px;
    background-color: #3d4761;
  }
  .seventh .desc3 {
    position: absolute;
    width: 639px;
    height: 24px;
    top: 626px;
    left: 382px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    color: #000000;
  }

  /* Footer Menu
   * --------------------------------------- */
  #footer {
    position: fixed;
    bottom: 30px;
    width: 100%;
  }

  #menu {
    margin: 0 auto;
    width: calc(70vw);
    font-weight: 500;
    text-align: center;
    border-top: 2px solid #787878;
    padding-top: 10px;
  }
  #menu li {
    display: inline-block;
    margin: 10px;
    font-size: 12px;
    color: #787878;
    padding-right: 50px;
  }
  #menu li.active {
    /* background: #666;
    background: rgba(0, 0, 0, 0.5); */
    color: #e94e71;
    font-weight: 800;
  }
  #menu li a {
    text-decoration: none;
    color: #787878;
  }
  #menu li a:hover {
    color: #e94e71;
  }
  #menu li:hover {
    color: #854453;
  }
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }
  body {
    overflow: hidden;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  @media (min-width: 1024px) {
    /* Horizontal scroll
   * --------------------------------------- */

    /* It's correct vh, vw
   * --------------------------------------- */
    .horizontalScroll {
      width: 100vh;
      height: 100vw;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-transform-origin: right top;
      transform-origin: right top;
      -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
      transform: rotate(-90deg) translate3d(0, -100vh, 0);
    }

    .horizontalScroll > * {
      -webkit-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: rotate(90deg) translate3d(0, calc(-100vh), 0);
      transform: rotate(90deg) translate3d(0, calc(-100vh), 0);
    }
  }


/* @media (max-width: 768px) {
  .section {
    width: 100vw;
    height: 70vh;
    float: clear;
  }

  body {
    overflow: hidden;
  }

  #container {
    overflow-y: scroll;
  }
  
} */
